manifest {
    homePage = 'https://github.com/iarcbioinfo/platypus-nf'
    description = 'Germline variant calling with platypus'
    mainScript = 'platypus.nf'
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  docker { 
    docker.enabled = true 
    process.container = 'iarcbioinfo/platypus-nf'
  }
  singularity { 
    singularity.enabled = true 
    process.container = 'shub://IARCbioinfo/platypus-nf'
  }
}

params.output_folder="."

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/platypus_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/platypus_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/platypus_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/platypus_dag.html"
}
