manifest {
    homePage = 'https://github.com/iarcbioinfo/platypus-nf'
    description = 'Germline variant calling with platypus'
    mainScript = 'platypus.nf'
}

profiles {
  conda { process.conda = 'platypus-variant' }
  docker { docker.enabled = true }
  singularity { singularity.enabled = true }
}

process {
    container = 'iarcbioinfo/platypus-nf'
}

params.output_folder="."

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/platypus-nf_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/platypus-nf_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/platypus-nf_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/platypus-nf_dag.html"
}
